<div class='container mt-5'>
    <h2 style="text-align: center;">Follows</h2>
    <% if @customers.exists? %>
    <div class='container my-3'>
      <%= render 'public/customers/index', customers: @customers %>
    </div>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
</diV>