<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">ABOUT US</h2><br>
            <div class="list">
                <div class="list-item">
                    <%= image_tag('no_image.jpg', class: 'image') %>
                    <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                </div>
                <div class="list-item">
                    <%= image_tag('no_image.jpg', class: 'image') %>
                    <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                </div>
                <div class="list-item">
                    <%= image_tag('no_image.jpg', class: 'image') %>
                    <div class="text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
                </div>
            </div>
        </div>
    </div>
</section>