※about削除予定

<!--<div class="row no-gutters">-->
<!--  <div class="col-md-4 order-0 order-md-1">-->
<!--    <div class="container">-->
<!--      <h2>タイトル</h2>-->
<!--      <h3>タイトル２</h3>-->
<!--      <p>本文</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-8 order-1 order-md-0">-->
<!--    <%#= image_tag 'sea.jpg', class: 'img-fluid about-img__cover' %>-->
<!--  </div>-->
<!--</div>-->