<div class="cozyspace-wrapper">
    <div class="container">
　　　　<div class="cozyspace-message">
        <h2>タイトル</h2>
        <h3>タイトル２</h3>
        <p>本文</p>
      </div>
      <div class="images_item03">
        <img src="./sea.jpg">
      </div>
    </div>
</div>