<section class="wrapper">
    <div class="container">
        <h2  class="text-center">ABOUT</h2>
        <div class="content">
            <div class="list mt-3">
                <div class="list-item">
                    <%= image_tag('about_1.jpg', class: 'image') %>
                    <div class="text">
                        <P>名前の由来は「旅のしおり」と「セオリー」を掛け合わせたものです。</P>
                        <P>どちらも旅程やテーマをまとめて整理したり、振り返って次に活かすための改善点を見つけたりと似ている側面があります。</P>
                    </div>
                </div>
                <div class="list-item">
                    <%= image_tag('about_2', class: 'image') %>
                    <div class="text">
                        <P>いろんな場所を巡りたいと考えている人も、外出しないで旅行気分を味わいたい人にも。</P>
                        <P>行ってほしい！と感じたお気に入りの場所を紹介したり、
                           行ってみたい！とワクワクするような場所を見つけてみて下さい。</P>
                    </div>
                </div>
                <div class="list-item">
                    <%= image_tag('about_3', class: 'image') %>
                    <div class="text">
                        <P>カレンダー機能を使って、「行った日」「行きたい日」を記録することができます。</P>
                        <P>カレンダーは全体公開されないので、気になる投稿を見つけたら予定を立てたり、好きな時に旅の思い出を振り返ってみましょう!</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>