<div class="container d-flex align-items-center" style="margin-top: auto;">
    <div class="top-container">
      <div class="item box-big1">
        <%= image_tag('sea.jpg', class: "w-100") %>
      </div>
      <div class="item">B</div>
      <div class="item">C</div>
      <div class="item">D</div>
      <div class="item">E</div>
      <div class="item box-big2">F</div>
      <div class="item box-big3">G</div>
      <div class="item">H</div>
      <div class="item">I</div>
      <div class="item">J</div>
      <div class="item box-big4">K</div>
    </div>
</div>