<section class="wrapper">
    <div class="container">
        <div class="content">
            <div class="content-item">
              <%= image_tag('sea.jpg', class: 'image') %>
            </div>    
            <div class="content-item my-4">
                <%= image_tag('title_white.png', class: 'image') %>
                <div class="mt-4 ml-3">
                    <P>旅のモデルコースや地域のおすすめスポットについて
                    発信や交流することで、
                    行きたい場所のスケジュールを立てたり、その土地の魅力を知ることができるSNSサイト​</P>
                </div>
                <div class="text-center mt-5">
                     <%= link_to 'Shioryとは？', about_path, class: "btn btn-outline-secondary" %>
                </div>
            </div>
        </div>
    </div>
</section>