<div class="row no-gutters mt-5">
  <div class="col-md-4 order-0 order-md-0">
    <div class="container text-center">
      
      <p class="top__2">
      <span class="blurTrigger">
        #あなたの旅を<br>
        より特別なものにする
        </span>
      </p>
      <p class="top my-3">
        <span class="blurTrigger">
          <%= image_tag("title_white.jpg", alt: "shiory", size: "200x100") %>
        </span>
      </p>
        
      <h3 class="marker-border-2 mt-4">Shiory  とは</h3>
        <p class="mt-4">
           名前の由来は「旅のしおり」と「セオリー」を掛け合わせたものです。</p>
          
        <p>どちらも旅程やテーマをまとめて整理したり、<br>
           振り返って次に活かすための改善点を見つけたりと<br>
           似ている側面があります。</p>
        
        <p>旅行が好きで、いろんな場所を巡りたいと考えている人</p>

        <p>観光名所よりも、その土地をより体感できる旅行を楽しみたい人</p>
        
        <p>旅行に行けない場合でも、旅行気分を味わいたい人</p>
        
        <p>ぜひいろんな人に、<br>
           行ってほしい！と感じたお気に入りの場所を紹介したり、<br>
           行ってみたい！とワクワクするような場所を見つけてみて下さい。</p>
        
        </p>
    </div>
  </div>
  <div class="col-md-8 order-0 order-md-1 ">
    <%= image_tag 'kamome.jpg', class: 'img-fluid about-img__cover' %>
  </div>
</div>