<div class="position-relative">
  <div class="position-absolute" style="z-index: 9999;">
    <p class="top__2"><span class="blurTrigger">#あなたの旅をより特別なものにする</span></p>
    <p class="top"><span class="blurTrigger">Shiory</span></p>
  </div>
  <%= image_tag 'sea.jpg', class: 'img-fluid position-absolute' %>
</div>
