<!--<div class="container">-->
<!--  <div class="item box-big1">A</div>-->
<!--  <div class="item">B</div>-->
<!--  <div class="item">C</div>-->
<!--  <div class="item">D</div>-->
<!--  <div class="item">E</div>-->
<!--  <div class="item box-big2">F</div>-->
<!--  <div class="item box-big3">G</div>-->
<!--  <div class="item">H</div>-->
<!--  <div class="item">I</div>-->
<!--  <div class="item">J</div>-->
<!--  <div class="item box-big4">K</div>-->
<!--</div>-->


<!--<section>-->
<!--    <h3>top</h3>-->
<!--    <ul class="garelly">-->
<!--        <li class="item1"><%#= image_tag('no_image.jpg', class: 'image') %></li>-->
<!--        <li class="item2"><%#= image_tag('about_1.jpg', class: 'image') %></li>-->
<!--        <li class="item3"><%#= image_tag('no_image.jpg', class: 'image') %></li>-->
<!--        <li class="item4"><%#= image_tag('no_image.jpg', class: 'image') %></li>-->
<!--        <li class="item5"><%#= image_tag('no_image.jpg', class: 'image') %></li>-->
<!--        <li class="item6"><%#= image_tag('no_image.jpg', class: 'image') %></li>-->
<!--        <li class="item7"><%#= image_tag('no_image.jpg', class: 'image') %></li>-->
<!--    </ul>-->
<!--</section>-->


<div class="container">
    <div class="swiper">
        <div class="swiper-wrapper">
            <% Post.all.sample(5).each do |post| %>
                <div class="swiper-slide position-relative d-flex">
                    <div class="position-absolute swiper__title w-100 py-5 align-self-center text-center"><%= post.title %></div>
                    <div class="position-absolute w-100">
                        <!--投稿に添付された画像を表示-->
                        <%= image_tag post.post_image, class: 'swiper__img' if post.post_image.present? %>
                        <!--投稿画像を持っていない場合は代替の画像を表示-->
                        <%= image_tag 'no_image.jpg', class: 'swiper__img' unless post.post_image.present? %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script>
// Swiperを実行(初期化)
$(document).ready(function(){
    let swiper = new Swiper('.swiper', {
      loop: true,
      autoplay: {
        delay: 5000,
      },
    });
});
</script>