<body class="topPage">
    <header>
      <h1>
        <%= image_tag('top_bg.jpg', class: 'image') %>
      </h1>
    </header>
    <main>
      <ul class="linkList">
        <li>
          <a href="concept.html">
            <%= image_tag('top_ph01.jpg', class: 'image') %>
            <span>CONCEPT</span>
          </a>
        </li>
        <li>
          <a href="menu.html">
            <%= image_tag('top_ph02.jpg', class: 'image') %>
            <span>MENU</span>
          </a>
        </li>
        <li>
          <a href="info.html">
            <%= image_tag('top_ph03.jpg', class: 'image') %>
            <span>INFORMATION</span>
          </a>
        </li>
      </ul>
    </main>
  
</body>