<div class='container'>
  <div class="mt-5">
    <div class="container text-center">
      <div id="admin-chat-index" class="row">
       <%= render partial: 'admin/chat_groups/chats', locals: { messages: @messages } %>
      </div>
    </div>
  </div>
</div>


