// カラーの変更必要
$theme-colors: (
  "primary": #b3a9c8,
  "secondary": #6d7d90,
  "info": #c9caca,
  "warning": #F0CB0C,
  "danger": #dbac9e,
  "success": #bacdde,
);

@import '~bootstrap/scss/bootstrap';
// googleフォント
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: "Raleway", "M PLUS Rounded 1c", sans-serif;
}

html {
  color: #6d7d90;
}

body {
  height: 100%;
  margin: 0;
  color: #6d7d90;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  background: #d7e6d5;
}

ul,li {
  list-style: none;
}

p,td,th {
  color: #6d7d90;
}

// indexに表示される最初の投稿画像(指定された幅と高さの要素内で画像をカバーする)
.post-image__index {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

// ユーザー画像(指定された幅と高さの要素内で画像をカバーする)
.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-image__index {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

// customerのindex：カード用
.profile-image__index_2 {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

// top画面
@charset "utf-8";

// アプリ名をゆっくり表示させる
.blur{
  animation-name:blurAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
  filter: blur(10px);
  transform: scale(1.02);
  opacity: 0;
  }

  to {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  }
}

.blurTrigger{
    opacity: 0;
}

// submitボタン
.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffe9a5;     /* 背景色     */
  color         : #6d7d90;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffe9a5;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ffe9a5;     /* 背景色     */
  background    : #6d7d90;     /* 文字色     */
}

.alert, .notice {
  text-align: center;
}

.error-message {
  text-align: center;
  color:  #dbac9e;
  display: inline-block;
  height: 1em;
  width: 100%;
  background-color: #ffe9a5;
}

// // DM機能
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.chat-topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe9a5;
  color: #b3a9c8;
  height: 50px;
  padding: 0 20px;
}

.chat-messages {
  flex: 1; /* コンテンツが残りのスペースを占めるようにする */
  overflow-y: auto; /* コンテンツがコンテナからはみ出た場合にスクロールバーを表示する */
  padding: 20px;
  max-height: calc(100vh - 100px); /* 画面の高さからチャットトップバーの高さを引いた分の高さを設定 */
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-sender {
  margin-bottom: 5px;
  font-size: 0.8em;
  color: #666;
}

.message-body {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message-body_2 {
  text-align: right;
  padding-top: 10px;
  border-radius: 10px;
}

.self .message-body {
  align-self: flex-end;
  background-color: #29b6f6;
  color: #fff;
}

.other .message-body {
  align-self: flex-start;
  background-color: #f5f5f5;
  color: #333;
}

.chat-form {
  background-color: #f5f5f5;
  padding: 20px;
}

.chat-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.chat-form input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.chat-form input[type="submit"] {
  flex: 0 0 auto;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #b3a9c8;
  color: #ffe9a5;;
  cursor: pointer;
}


// about
/* container */
.wrapper{
    width:100%;
}
.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}
/* content */
.wrapper .content .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}
@media (min-width: 992px) {
    .wrapper .content .list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.wrapper .content .list-item {
    margin:50px 0px;
    padding:0px 50px;
    text-align:center;
}
@media (min-width: 992px) {
    .wrapper .content .list-item {
        margin:0px;
        width:calc(100% / 3);
    }
}
.wrapper .content .list-item .image{
    display:block;
    width:100%;
    max-width:300px;
    margin:0px auto 20px auto;
    border-radius:20%;
    object-fit: cover;
}
.wrapper .content .list-item .text{
    line-height:1.8rem;
    font-size:0.8rem;
}


// タグ
.label {
  background-color: #fFe9a5;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #b3a9c8;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

// TOPページ上部
.swiper {
    height: 300px;
}

.swiper__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper__title {
    z-index: 9999;
    backdrop-filter: blur(15px) brightness(1.2);
    font-size: calc(10px + .8vw);
}

// about用
.inner{
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px 50px;
}
.box{
  display: flex;
  flex-direction: row;
}
.box + .box{
  margin-top: 80px;
}
.box__body{
  width: 50%;
  padding: 0 20px;
}
.box__ttl {
  font-size: 20px;
}
.box__txt {
  margin-top: 20px;
}
.box__image{
  width: 50%;
  border-radius: .50em;
}
.box__image img{
  height: 100%;
  object-fit: cover;
  border-radius: .50em;
}

@media screen and (max-width:767px){
  .box {
    display: block;
  }
  .box + .box{
    margin-top: 60px;
  }
  .box__body{
    width: 100%;
    padding: 0;
  }
  .box__image{
    margin-top: 20px;
    width: 100%;
  }
}

.box.reverse{
  flex-direction: row-reverse;
  border-radius: .50em;
}

// モーダル(仮)
.modal-btn {
  display: block;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  background-color: #00a5a0;
  box-shadow: 0 5px 0 #008480;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 60px;
  border: none;
}

.modal-btn:hover {
  box-shadow: none;
  transform: translateY(5px);
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 99999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 99999;
}

.section {
  padding: 30px;

  &:nth-of-type(2n) {
    background-color: #d9e8e7;
  }
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}