// カラーの変更必要
$theme-colors: (
  "primary": #ffe9a5,
  "secondary": #70583B,
  "info": #C59C42,
  "warning": #F0CB0C,
  "danger": #EF571E,
  "success": #463C31,
);

@import '~bootstrap/scss/bootstrap';
// googleフォント
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: "Raleway", "M PLUS Rounded 1c", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  background: #d7e6d5;
}

ul,li {
  list-style: none;
}

p {
  color: #6d7d90;
}

// indexに表示される最初の投稿画像(指定された幅と高さの要素内で画像をカバーする)
.post-image__index {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

// ユーザー画像(指定された幅と高さの要素内で画像をカバーする)
.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-image__index {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

// top画面
@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
.top {
  text-align: center;
  margin: auto; /* 上下左右のマージンを自動で調整 */
  font-size: 3rem; /* 3倍のフォントサイズに変更 */
  color: #ffe9a5;
  text-shadow: 2px 2px #6d7d90;
}

.top__2 {
  text-align: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  color: #d7e6d5; 
  text-shadow: 2px 2px #6d7d90; /* 文字の縁を指定された色に設定 */
}


// アプリ名をゆっくり表示させる
.blur{
  animation-name:blurAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
  filter: blur(10px);
  transform: scale(1.02);
  opacity: 0;
  }

  to {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  }
}

.blurTrigger{
    opacity: 0;
}


// アバウトページ
.about-img__cover {
  width: 100%;
  height: 700px;
  margin: 10px;
  object-fit: cover;
}

.marker-border-2{
    background:linear-gradient(transparent 60%, #d7e6d5 0%);
}

// submitボタン
.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffe9a5;     /* 背景色     */
  color         : #6d7d90;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffe9a5;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ffe9a5;     /* 背景色     */
  background    : #6d7d90;     /* 文字色     */
}

.alert, .notice {
  text-align: center;
}