// カラーの変更必要
$theme-colors: (
  "primary": #b3a9c8,
  "secondary": #6d7d90,
  "info": #c9caca,
  "warning": #F0CB0C,
  "danger": #dbac9e,
  "success": #bacdde,
);

@import '~bootstrap/scss/bootstrap';
// googleフォント
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: "Raleway", "M PLUS Rounded 1c", sans-serif;
}

html {
  color: #6d7d90;
}

body {
  height: 100%;
  margin: 0;
  color: #6d7d90;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  background: #d7e6d5;
}

ul,li {
  list-style: none;
}

p,td,th {
  color: #6d7d90;
}

// indexに表示される最初の投稿画像(指定された幅と高さの要素内で画像をカバーする)
.post-image__index {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

// ユーザー画像(指定された幅と高さの要素内で画像をカバーする)
.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-image__index {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

// customerのindex：カード用
.profile-image__index_2 {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

// top画面
@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
.top {
  text-align: center;
  margin: auto; /* 上下左右のマージンを自動で調整 */
  font-size: 3rem; /* 3倍のフォントサイズに変更 */
  color: #ffe9a5;
  text-shadow: 2px 2px #6d7d90;
}

.top__2 {
  text-align: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  color: #d7e6d5;
  text-shadow: 2px 2px #6d7d90; /* 文字の縁を指定された色に設定 */
}


// アプリ名をゆっくり表示させる
.blur{
  animation-name:blurAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
  filter: blur(10px);
  transform: scale(1.02);
  opacity: 0;
  }

  to {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  }
}

.blurTrigger{
    opacity: 0;
}


// アバウトページ
.about-img__cover {
  width: 100%;
  height: 700px;
  margin: 10px;
  object-fit: cover;
}

.marker-border-2{
    background:linear-gradient(transparent 60%, #d7e6d5 0%);
}

// submitボタン
.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffe9a5;     /* 背景色     */
  color         : #6d7d90;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffe9a5;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ffe9a5;     /* 背景色     */
  background    : #6d7d90;     /* 文字色     */
}

.alert, .notice {
  text-align: center;
}

.error-message {
  text-align: center;
  color:  #dbac9e;
  display: inline-block;
  height: 1em;
  width: 100%;
  background-color: #ffe9a5;
}

// // DM機能
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.chat-topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe9a5;
  color: #b3a9c8;
  height: 50px;
  padding: 0 20px;
}

.chat-messages {
  flex: 1; /* コンテンツが残りのスペースを占めるようにする */
  overflow-y: auto; /* コンテンツがコンテナからはみ出た場合にスクロールバーを表示する */
  padding: 20px;
  max-height: calc(100vh - 100px); /* 画面の高さからチャットトップバーの高さを引いた分の高さを設定 */
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-sender {
  margin-bottom: 5px;
  font-size: 0.8em;
  color: #666;
}

.message-body {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.self .message-body {
  align-self: flex-end;
  background-color: #29b6f6;
  color: #fff;
}

.other .message-body {
  align-self: flex-start;
  background-color: #f5f5f5;
  color: #333;
}

.chat-form {
  background-color: #f5f5f5;
  padding: 20px;
}

.chat-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.chat-form input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.chat-form input[type="submit"] {
  flex: 0 0 auto;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #b3a9c8;
  color: #ffe9a5;;
  cursor: pointer;
}

// ページトップ
// #page-top a{
//   background:#942D2F;
//   color:#fff;
//   text-align: center;
//   display: block;
//   text-decoration: none;
//   padding:20px;
//   text-transform: uppercase;
//   letter-spacing: 0.05em;
//   font-size: 0.8rem;
//   transition: all 0.3s;
// }

// #page-top a:hover{
//   background: #777;
// }

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px; /* 右側に配置 */
  border-radius: 50%; /* 丸い枠 */
  background: #b3a9c8;
  transition: all 0.3s;
}

#page-top a {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
}

#page-top:hover {
  background: #ffe9a5;
}
