<div class="search_form mr-1 mb-1">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :contents %>
      <%= f.select :model, options_for_select([['Customer'], ['Post']]) %>
      <%= button_tag type: "submit", class: "btn btn-primary", style: "color: #ffe9a5; border-color: transparent;" do %>
        <i class="fa-brands fa-searchengin" style="color: #ffe9a5;"></i>
      <% end %>
    <% end %>
  </div>