
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :contents %>
      <%= f.select :model, options_for_select([['Customer'], ['Post']]) %>
      <%= f.submit "検索", class: "btn btn-primary", style: "color: #ffe9a5;" %>
    <% end %>
  </div>