<div class='container'>
  <div class="mt-5">
    <!--<div class="text-center">-->
    <h1>チャットグループ一覧</h1>
     <div class="row">
        <% @my_customer_chat_rooms.each do |customer_chat_room| %>
          <div class="col-md-3">
            <% customer = customer_chat_room.customer %>
              <% if customer.present? %>
                <%= image_tag customer.get_profile_image(70, 70), class: "rounded-circle profile-image d-block mx-auto mb-3" %>
              <% end %>
            <%= link_to customer_chat_room.customer.name, customer_path(customer_chat_room.customer) %>
          </div>
          <div class="col-md-5">
            <%= customer_chat_room.chat_room.chats.last.message %>
          </div>
          <div class="col-md-4">
             <%= link_to "チャットする", chat_path(customer_chat_room.customer.id) %>
          </div>
        <% end %>
      </div>
    <!--</div>-->
  </div>
</div>

